.dashboard {
    /* display: flex; */
    width: 80%;
    height: 80vh;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: white;
}

.center-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-align {
    display: flex;
}

button {
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    color: white;
    border: none;
}

.flex {
    display: flex;
}

.options-sidebar {
    width: 30%;
    border-right: 1px solid gray;
    padding: 50px;
}

.dashboard-body {
    width: 70%;
    padding: 50px;
}

.open-room {
    list-style: none;
    font-size: 1.2em;
    padding: 20px 0px;
}